.header{
    background-color: rgb(43, 42, 42);
    color: yellow;
    .container {
        nav{
            ul{
                list-style: none;
                li{
                    .navtitle{
                        color: yellow;
                        text-decoration: none;
                       
                        &:hover{
                            color: rgb(255, 0, 0);
                        
                        }
                    }
                  
                }
            }
        }
        .img-wrapper{
            width: 80px;
            object-fit: contain;
            cursor: pointer;
            img{
                width: 100%;
            }
        }
    }
}